.idea/.idea.EmploySity/.idea/vcs.xml
EmploySity/package-lock.json
EmploySity.sln.DotSettings.user
global.json
package-lock.json
EmploySity/EmploySity.csproj
.idea/.idea.EmploySity/.idea/inspectionProfiles/Project_Default.xml
.idea/.idea.EmploySity/.idea/misc.xml
EmploySity/ClientApp/package-lock.json
