#mapElements {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
  padding: 5px;
  justify-content: center;
}

[class*="copyrights-pane"] {
  display: none !important
}

#mapSelectBox {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.selectBox {
  height: 35px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#map {
  flex-grow: 1;
  width: 100%;
  margin-top: 10px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  
  > div {
    height: 100% !important;
    width: 100% !important;
  }

  .ymaps-2-1-79-map {
    height: 100% !important;
    width: 100% !important;
  }
}